<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<h1>Pagina de consultar vehiculos</h1>


<body>
    <!-- filtros de busqueda -->
    <form action="ConsultarVehiculo" method="POST">

        <label for="IDVehiculo">ID de Vehiculo:</label>
        <input type="text" id="IDVehiculo" name="IDVehiculo">

        <label for="Marca">Marca:</label>
        <input type="text" id="Marca" name="Marca">

        <label for="Modelo">Modelo:</label>
        <input type="text" id="Modelo" name="Modelo">

        <label for="Color">Color:</label>
        <input type="text" id="Color" name="Color">

        <label for="Kilometraje">Kilometraje:</label>
        <input type="text" id="Kilometraje" name="Kilometraje">

        <label for="NumeroSerie">Numero de serie:</label>
        <input type="text" id="NumeroSerie" name="NumeroSerie">

        <label for="Placa">Placa:</label>
        <input type="text" id="Placa" name="Placa">

        <label for="IDCliente">ID de Cliente:</label>
        <input type="text" id="IDCliente" name="IDCliente">

        <input type="submit">
    </form>


    <!-- Tabla que muestra los vehiculos-->

    <table class="table table-info table-striped" id="tablaVehiculos">
        <thead>
            <tr>
                <th scope="col">ID de Vehiculo</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Color</th>
                <th scope="col">Kilometraje</th>
                <th scope="col">numeroSerie</th>
                <th scope="col">Placa</th>
                <th scope="col">IDCliente</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in listaVehiculos %}
            <tr>
                <td>{{ vehiculo[0] }}</td>
                <td>{{ vehiculo[1] }}</td>
                <td>{{ vehiculo[2] }}</td>
                <td>{{ vehiculo[3] }}</td>
                <td>{{ vehiculo[4] }}</td>
                <td>{{ vehiculo[5] }}</td>
                <td>{{ vehiculo[6] }}</td>
                <td>{{ vehiculo[7] }}</td>
                <td><button class="editar-button" onclick="editarVehiculo(this)">Editar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function editarVehiculo(boton) {
            let row = boton.parentNode.parentNode

            let idVehiculo = row.cells[0].textContent
            sessionStorage.setItem("idVehiculo", idVehiculo)
            console.log(idVehiculo)
            
            let marca = row.cells[1].textContent
            sessionStorage.setItem("marca", marca)
            console.log(marca)

            let modelo = row.cells[2].textContent
            sessionStorage.setItem("modelo", modelo)
            console.log(modelo)

            let color = row.cells[3].textContent
            sessionStorage.setItem("color", color)
            console.log(color)

            let kilometraje = row.cells[4].textContent
            sessionStorage.setItem("kilometraje", kilometraje)
            console.log(kilometraje)

            let nSerie = row.cells[5].textContent
            sessionStorage.setItem("nSerie", nSerie)
            console.log(nSerie)

            let placa = row.cells[6].textContent
            sessionStorage.setItem("placa", placa)
            console.log(placa)


            let idCliente = row.cells[7].textContent
            sessionStorage.setItem("idCliente", idCliente)
            console.log(idCliente)

            window.location.href = '/EditarVehiculo'

        
        }
    </script>
</body>