<h1>Pagina de consultar clientes</h1>

<!-- filtros de busqueda -->
<form method="POST">

    <label for="idCliente">ID de cliente:</label>
    <input type="text" id="idCliente" name="idCliente">

    <label for="nombreCliente">nombreCliente:</label>
    <input type="text" id="nombreCliente" name="nombreCliente">
    
    <label for="rfc">RFC:</label>
    <input type="text" id="rfc" name="rfc">

    <label for="email">email:</label>
    <input type="text" id="email" name="email">
    
    <label for="telefono">telefono:</label>
    <input type="text" id="telefono" name="telefono">
    
    <label for="direccion">direccion:</label>
    <input type="text" id="direccion" name="direccion">

    <input type="submit">
</form>


<!-- Tabla que muestra los clientes-->

    <table class="table table-info table-striped" id="tablaclientes">
        <thead>
            <tr>
                <th scope="col">ID de Cliente</th>
                <th scope="col">Nombre de cliente</th>
                <th scope="col">rfc</th>
                <th scope="col">email</th>
                <th scope="col">telefono</th>
                <th scope="col">direccion</th>
                
            </tr>
        </thead>
        <tbody>
            {% for cliente in listaClientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>{{ cliente[5] }}</td>
                <td><button class="editar-button" onclick="editarCliente(this)">Editar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
