<script>

    function tomarDato(dato) {
        console.log(`dato: ${dato}`)
        valor = sessionStorage.getItem(dato)
        document.getElementById(dato).value = valor

    }

    function mostrarDatos() {
        document.getElementById("textidCliente").textContent = sessionStorage.getItem("idCliente")
        //document.getElementById("idCliente").textContent = sessionStorage.getItem("idCliente")
        let datos = ["idCliente","nombreCliente", "rfc", "email", "telefono", "direccion"]

        for (i = 0; i < datos.length; i++) {
            tomarDato(datos[i])
        }
    }
</script>

<h1>Pantalla de editar cliente</h1>



<body onload="mostrarDatos()">
    <label for="textidCliente">ID de Cliente:</label>
        <p id="textidCliente" name="textidCliente"> </p>


    <form action="EditarCliente" method="POST">
        
        <input type="hidden" id="idCliente" name="idCliente">
        
        <label for="nombreCliente">nombreCliente:</label>
        <input type="text" id="nombreCliente" name="nombreCliente">

        <label for="rfc">rfc:</label>
        <input type="text" id="rfc" name="rfc">

        <label for="email">email:</label>
        <input type="text" id="email" name="email">

        <label for="telefono">telefono:</label>
        <input type="text" id="telefono" name="telefono">

        <label for="direccion">direccion:</label>
        <input type="text" id="direccion" name="direccion">

        <input type="submit">
    </form>


</body>